h1 {
            color: rgb(243, 243, 243);
            font-family: helvetica, serif;
            font-size: 6vw;
            text-align: center;
            text-decoration: underline;
            text-shadow: 2px 2px #6a6a6a;
            
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 20%;
            border-radius: 50%;
            border-style: hidden;
            max-width: 600px;
              /* Styles for small screens */
            min-width: 201px;
              /* Styles for larger screens */
            }
          
          p {
            font-size: 3vw;
            color: rgb(243, 243, 243);
            font-family: helvetica, serif;
            text-shadow: 1px 1px #000000;
            text-align: center;
            margin: auto;
            /* background-color: #ab9696; */
            /* max-width: 50%; */
            max-width: 1000px;
              /* Styles for small screens */
            min-width: 201px;
              /* Styles for larger screens */
          }
          nav {
            margin: auto;
            text-align: center;
            padding: 20px;
            font-size: 170%;
          }
          nav a {color: rgb(49, 49, 49);
                font-family: Helvetica, sans-serif;
                padding: 10px;
                background-color: white;
                display: inline-block;
                border-radius: 10px;
                font-size: 2.5vw;
                margin: 1rem;
                max-width: 600px;
                /* Styles for small screens */
                min-width: 201px;
                /* Styles for larger screens */
                text-decoration: none;
                vertical-align: bottom;
              }
          nav a:hover {
            color: white;
            background-color: rgb(49, 49, 49);
          }
          h2 {
            font-size: 3vw;
            color: rgb(243, 243, 243);
            font-family: helvetica, serif;
            text-shadow: 1px 1px #000000;
            text-align: center;
            margin: auto;
            /* background-color: #ab9696; */
            /* max-width: 50%; */
            max-width: 1000px;
              /* Styles for small screens */
            min-width: 201px;
              /* Styles for larger screens */
            
          }
