
        /*h1 {
            color: rgb(209, 191, 31);
            font-family: helvetica, serif;
            font-size: 2000%;
            border: 1px rgb(209, 191, 31);
            padding: 1px;
            text-align: center;
        }*/
        
        h1 {
            color: rgb(243, 243, 243);
            font-family: helvetica, serif;
            font-size: 6vw;
            text-align: center;
            text-decoration: underline;
            text-shadow: 2px 2px #6a6a6a;
            
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 20%;
            border-radius: 50%;
            border-style: hidden;
            max-width: 600px;
              /* Styles for small screens */
            min-width: 201px;
              /* Styles for larger screens */
            }
          
          p {
            font-size: 3vw;
            color: rgb(243, 243, 243);
            font-family: helvetica, serif;
            text-shadow: 1px 1px #000000;
            text-align: center;
            margin: auto;
            /* background-color: #ab9696; */
            /* max-width: 50%; */
            max-width: 600px;
              /* Styles for small screens */
            min-width: 201px;
              /* Styles for larger screens */
          }
          nav {
            margin: auto;
            text-align: center;
            padding: 25px;
            background color
            font-size: 170%;
          }
          nav a {color: rgb(49, 49, 49);
                font-family: Helvetica, sans-serif;
                padding: 10px;
                background-color: white;
                display: inline-block;
                border-radius: 10px;
                font-size: 2.5vw;
                margin: 1rem;
                max-width: 600px;
                /* Styles for small screens */
                min-width: 201px;
                /* Styles for larger screens */
              }
              